header {
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0; 
	z-index: 9999999; 
	&.upcoming-events {
		position: relative;
		z-index: 2;
	}
	.mics-thing {
		background-color: white;
		position: relative;
		z-index: 9999;
		overflow: hidden;
		width: 62.5em;
		.nav-logo {
			float: left;	
			position: relative;
		}
		nav {
			float: right;
			position: relative;
			width: 70%; 
			ul {
				display: inline;
				margin-top: 30px;
				li {
					float: left;
					padding: 0 10px;
					list-style-type: none;
					a {
						h3{
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

.intro {
	padding: 60px 30px;
	background-image: url('http://lorempixel.com/g/1920/600/abstract');
	background-position: center; 
	background-repeat: repeat;
	width: 100%;
	height: 600px;
	background-color: #ccc;
	&.our-work {
		padding: 200px 0 0 0;
	}
	.intro-content {
		background-color: #000;

		.intro-title {
			font-size: 45px;
			text-transform: uppercase;
			color: white !important;
			text-shadow: 0 0 0.2em #000;
		}
		.sub-title {
			font-size: 24px;
			color: white !important;
			text-shadow: 0 0 0.2em #000;
		}
	}
}

.home-box-content {
	padding: 100px;
}

.info-box {
	margin-top: 600px;
	z-index: 10;
	background-color: cornsilk;
	position: relative;
	h2 {
		font-size: 36px;
	}
	h4 {
		font-size: 20px;
	}
}
.box-2 {
	padding: 100px 0;
	background-color: #ddd;
	position: relative;
	z-index: 10;
	
	img {
		padding: 10px;
	}
}

.box-3 {
	padding: 100px 0;
	position: relative;
	background-color: white;
	z-index: 10;
	img {
		padding: 10px;
	}
}

.box-4 {
	padding: 100px 0;
	background-color: #aaa;
	position: relative;
	z-index: 10;
	img {
		padding: 10px;
	}
}

footer {
	position: relative;
	z-index: 10;
	height: 300px;
	background-color: #ddd; 
	padding: 70px 0;
	.footer_nav {
		ul.title-nav {
			display: inline;
			li {
				float: left;
				padding: 0 25px;
				list-style-type: none;
				a.title {
					font-size: 18px;
					color: #aaa;
					text-transform: uppercase;
					border-bottom: 1px solid #aaa;
					h3{
						font-size: 18px;
					}

				}
				ul.footer-sub-nav {
					display: block;
					li {
						float: none;
						padding: 5px 0;
					}
				}
			}
		}
	}
}

.home-hero-image {
	position: fixed;
	z-index: 0;
	width: 100%;
	top: 100px;
}
.not-home-hero-image {
	width: 100%;
	margin-top: 100px;
}