.people {
	margin-top: 50px;
	.person {
		text-align: center;
		padding: 40px 20px;
	}
}

.culture, .values {
	background-color: cornsilk;
	padding: 100px;
	text-align: center;
}

.culture-images, .values-images {
	text-align: center;
	padding: 40px 0;
}

.values {
	background-color: #eee;
}