@import "foundation";
@import "normalize";
@import "homepage";
@import "our-blog";
@import "our-blog-2";
@import "who-we-are";
@import "careers";
@import "contact";
@import "community";
@import "our-work";
@import "who-we-are-deep";

body {
	.top-bar {
		background-color: white;
	}
}

h1 {
	font-size: 36px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px; 
}

h4 {
	font-size: 14px; 
}

li {
	list-style-type: none; 
}
